<footer class="bg-gray-900 pb-10">
  <p class="block text-center text-sm mb-6">
    Dev by
    <a target="_blank" href="https://nkarasyov.ru/">
      Nikita Karasyov
    </a>
  </p>

  <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Политика конфиденциальности</a>

    <a class="block text-center text-sm" href="https://github.com/reeseschultz/11r">Тема сайта 11r</a>
</footer>
