<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag thinks mx-auto" href="{{ site.baseUrl }}tag/thinks">мысли</a>
    <a class="tag it mx-auto" href="{{ site.baseUrl }}tag/it">айтишечка</a>
    <a class="tag error mx-auto" href="{{ site.baseUrl }}tag/errors">ошибки</a>
    <a class="tag science mx-auto" href="{{ site.baseUrl }}tag/science">наука</a>
    <a class="tag news mx-auto" href="{{ site.baseUrl }}tag/news">новости</a>
    <a class="tag edu mx-auto" href="{{ site.baseUrl }}tag/edu">образование</a>
</div>
